.App {
  text-align: center;
}

// .author-form {
//   text-align: center;
//   width: 50rem;
//   margin: auto;
// }

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#author-card {
  width: 15rem;
  margin: 10px;
}

label {
  margin-right: 5px;
}
